

/* First section -Header */

    * {
        font-family: sans-serif;
        font-size: 16px;
        background-color: black;
        color: white;
        letter-spacing: -0.03em;
    }

    a {
        text-decoration: none;
    }

    p {
        font-size: 20px;
    }

    h2 {
        font-weight: 800;
        line-height: 53px;
    }

    .container{
        margin: 0 auto;
        padding: 0 50px;
        max-width: 1500px;
        box-sizing: border-box;
    }

    .h-color{
        background: linear-gradient(to right, #80e27e, #00695c); /* яркий зелёный к изумрудно-зелёному */
        -webkit-background-clip: text;
        color: transparent;
    }
    .header .container{
        display: flex;
        align-items: center;
        gap: 150px;
    }
    .header-logo{
        font-size: 41px;
    }

    .header-link{
        text-decoration: none;
    }

    .nav-list + .nav-list{
        margin-left: 100px;
    }
    .header-link{
        font-size: 20px;
        color: #888888;
        margin-left: 100px;
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2), 0 0 25px rgba(0, 0, 0, 0.1);

    }
    .header-link:hover {
        color: white;
        text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8), 0 0 30px rgba(0, 0, 0, 0.5); /* Более заметная тень при наведении */

    }

    .header-nav{
        display: flex;
        align-items: center;
        background: transparent;
    }

    /* Second section - Welcome */

    .welcome-title{
        font-size: 52px;

    }
    .welcome-span{
        font-size: 52px;
    }

    .welcome-btns{
        display: flex;
        gap: 20px;
    }

    .btn {
        color: white;
        padding: 13px 50px 13px 50px;
        border-radius: 20px;
    }

    .btn1{
        background: linear-gradient(to right, #80e27e, #00695c);
    }

    .btn2{
        background-color: black;
        border: 1px solid white; 
    }
    
    .stat-text span {
        font-size: 35px;
    }

    .welcome-text, .stat-text{
        color: lightgrey;
    }

    .stat-span::after{
        content: "+";
        color: #80e27e;
    }

    .welcome-btns{
        margin-bottom: 20px;
    }
    .welcome-stats{
        width: 100px;
        display: flex;
        gap: 40px;
    }
    .welcome-text{
        margin-bottom: 40px;
        width: 440px;
        font-size: 17px;
    }
    .welcome .container{
        height: 500px;
        display: flex;
    }
    .welcome-info{
        width: 410px;
        height: 100%;
    }
  