

/* First section -Header */

    * {
        font-family: sans-serif;
        font-size: 16px;
        color: white;
        letter-spacing: -0.03em;
    }

    body{
        background-color: black;
        margin: 0;
    }

    a {
        text-decoration: none;
    }

    p {
        font-size: 20px;
    }

    h2 {
        font-weight: 800;
        line-height: 53px;
    }

    .container{
        margin: 0 auto;
        padding: 0 50px;
        max-width: 1500px;
        box-sizing: border-box;
    }

    .h-color{
        background: linear-gradient(to right, #80e27e, #00695c); /* яркий зелёный к изумрудно-зелёному */
        -webkit-background-clip: text;
        color: transparent;
    }
    .header .container{
        display: flex;
        align-items: center;
        gap: 150px;
    }
    .header-logo{
        font-size: 41px;
    }

    .header-link{
        text-decoration: none;
    }

    .nav-list + .nav-list{
        margin-left: 100px;
    }
    .header-link{
        font-size: 20px;
        color: #888888;
        margin-left: 100px;
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2), 0 0 25px rgba(0, 0, 0, 0.1);

    }
    .header-link:hover {
        color: white;
        text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8), 0 0 30px rgba(0, 0, 0, 0.5); /* Более заметная тень при наведении */

    }

    .header-nav{
        display: flex;
        align-items: center;
        background: transparent;
    }

    /* Second section - Welcome */

    .welcome-title{
        font-size: 52px;

    }
    .welcome-span{
        font-size: 52px;
    }

    .welcome-btns{
        display: flex;
        gap: 20px;
    }

    .btn {
        color: white;
        padding: 13px 50px 13px 50px;
        border-radius: 20px;
    }

    .btn1{
        background: linear-gradient(to right, #80e27e, #00695c);
    }

    .btn2{
        background-color: black;
        border: 1px solid white; 
    }
    
    .stat-text span {
        font-size: 35px;
    }

    .welcome-text, .stat-text{
        color: lightgrey;
    }

    .stat-span::after{
        content: "+";
        color: #80e27e;
    }

    .welcome-btns{
        margin-bottom: 20px;
    }
    .welcome-stats{
        width: 100px;
        display: flex;
        gap: 40px;
    }
    .welcome-text{
        margin-bottom: 40px;
        width: 440px;
        font-size: 17px;
    }
    .welcome .container{
        height: 500px;
        display: flex;
        align-items: center;
        gap: 150px;
        justify-content: space-between;
    }
    .welcome-info{
        width: 410px;
        height: 100%;
    }

    .cup-image{
        width: 400px;
        height: 450px;
        padding-right: 80px;
        transform: rotate(-20deg); /* Поворот на 90 градусов */
    }

    /* icon section */

    .inner-container{
        padding-left: 110px;
        padding-right: 110px;
        display: flex;
        justify-content: space-around;
        gap: 150px;
        align-items: end;
        background-color: whitesmoke;
        position: relative;
        height: 380px;
        border-radius: 20px;
    }

    .inner-container::before{
        content: " ";
        border-radius: 50%;
        background: linear-gradient(to right, #80e27e, #00695c);
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(-50%,-50%);
        width: 110px;
        height: 110px;
    }

    .icons .container{
    }

    .icon-text{
        padding-left: 45px;
        padding-right: 45px;
        color: black;
        margin-top: 5px;
        margin-bottom: 0;
        height: 60px;
    }

    .icon-txt{
        font-weight: 100px;
        font-size: larger;
    }

    .icons{
        margin-top: 40px;
        margin-bottom: 75px;

    }

    .icon-text-title{
        color: black;
        font-size: 30px;
        margin-bottom: 4px;
    }

    .icons-info{
        text-align: center;
        height: 100%;

    }


    .icon-container{
        padding-top: 90px;
        position: relative;
        height: 150px;
        z-index: 5;
    }

    .icon-container::before{
        content: "";
        border-radius: 100%;
        background: linear-gradient(to right, #80e27e, #00695c);
        position: absolute;
        width: 210px;
        height: 210px;
        display: block;
        z-index: -5;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }


    .icons-info p {
        line-height: 30px;
    }

    .icon-container img{
        width: 150px;
        height: 150px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);

    }
    
    /*Description section*/

    .description{
        margin-bottom: 60px;
    }

    .description .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 660px;

    }
    .desc-info{
        height: 100%;
        width: 400px;     
    }

    .desc-title{
        margin: 0px 0px 20px 0px;
        line-height: 72px;
    }

    .desc-text{
        color: whitesmoke;
        margin-top: 72px;
  
    }

    .desc-title{
        font-size: 79px;
    }

    .desc-span{
        font-size: 76px;
    }

    .desc-image{
        width: 100%;
        height: 100%;
        clip-path: polygon(72% 0, 179% 101%, 0 100%, 0 0);
        box-shadow: -14px 26px 65px 0 rgba(0, 0, 0, 0.39)
    }

    .image-container{
        height: 100%;
        position: relative;
    }

    .image-container::before{
        content: "";
        background: linear-gradient(to right, #80e27e, #00695c);
        position: absolute;
        top: 30px;
        left: -45px;
        width: 100%;
        height: 100%;
        z-index: -1;
        clip-path: polygon(72% 0, 179% 101%, 0 100%, 0 0)

    }

    .desc-info img{
        width: 100%;
        height: 300px;
        margin-top: 52px;
    }